{% load static %} <!--Carregar Pasta do Projeto-->
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Página inicial</title>
  <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>         <!--Referenciando o CSS-->

<body>

  <!--navbar section-->
  <nav id="navbar" class="flex s-around bg-color">
    <div class="left-nav">
      <h2 class="t-white">Portifolio</h2>
    </div>
    <div class="right-nav">
      <ul class="flex">
        <li><a href="#home" class="t-white roboto">Início<i class="fa-solid fa-house"></i></a></li>
        <li><a href="#about" class="t-white roboto">Sobre mim<i class="fa-solid fa-user"></i></a></li>
        <li><a href="#skills" class="t-white roboto">Habilidades<i class="fa-solid fa-code"></i></a></li>
        <li><a href="#projects" class="t-white roboto">Projetos<i class="fa-solid fa-project-diagram"></i></a></li>
      <li><a href="#contact" class="t-white roboto">Contato<i class="fa-solid fa-rocket"></i></a></li>

      </ul>
  
    </div>
  </nav>

  <!--home section-->
  <section id="home" class="flex s-around sw-80 m-auto">
    <div class="home-left flex items-center">
      <div class="home-content">
        <h6 class="poppinss">Olá, sou</h6>
        <h1 class="t-white">Mateus Citriniti</h1>
        <h4 class="popinss">Engenheiro de Softare</h4>
      
        <a class="btn live poppins" id="hireme" href="" target="_blank"> Vamos conversar</a>
      </div>
    </div>

    <div class="home-right flex s-center items-center">
      <div class="circle flex s-center items-center" id="mainImage">
        <img src="{static 'images/'}" alt="picture">
      </div>
    </div>
  </section>

<!--about section-->
<section id="about">
  <h1 class="t-center my-2 t-white f-2">Sobre mim</h1>
  <div class="about-container flex s-around ">
      <div class=" about-left flex s-center items-center">
          <!-- Here in src replade the given link with your secondary image link -->
          <img src="{%static 'images/dog.png'%}" alt="" style="width: 60%;">
      </div>

      <div class="about-right flex">
          <div class="about-content">
              <p class="t-white poppins">
                  
          
                Sou um estudante de Engenharia de Software com paixão por transformar ideias em soluções digitais eficientes e inovadoras.Sou um entusiasta da aprendizagem contínua e busco sempre me manter atualizado com as últimas tendências e melhores práticas do mercado.Meu objetivo é aplicar meus conhecimentos e habilidades para contribuir com projetos desafiadores e que gerem impacto positivo</p>
              <a class="btn " id="hireme"
                  href="">Hire Me</a>
          </div>
      </div>
  </div>
</section>


<!--skills section-->
<section id="skills">
  <h1 class="t-center my-2 t-white f-2">Skills</h1>
  <div class="services-container flex s-around h-50">
  <div class=" skills-left flex s-center items-center">
      <img src="{%static 'images/pro.png'%}" alt="">
  </div>

  <div class="skills-right flex items-center">
      <div class="skillss-container">
          <div class="java bar p-relative"><span class="bar-content left t-white"> Core Java</span><span
                  class="bar-content right-skills t-white">90%</span></div>
          <div class="html bar p-relative"><span class="bar-content left t-white">HTML</span><span
                  class="bar-content right-skills t-white">90%</span></div>
          <div class="css bar p-relative"><span class="bar-content left t-white">CSS</span><span
                  class="bar-content right-skills t-white">80%</span></div>
          <div class="js bar p-relative"><span class="bar-content left t-white">JavaScript</span><span
                  class="bar-content right-skills t-white">60%</span></div>
          <div class="python bar p-relative"><span class="bar-content left t-white">Python</span><span
                  class="bar-content right-skills t-white">50%</span></div>
          <div class="mysql bar p-relative"><span class="bar-content left t-white">MySQL</span><span
                  class="bar-content right-skills t-white">40%</span></div>        
      </div>
  </div>
  </div>
</section>

<!--project section-->
<section id="projects">
<h1 class=" t-center my-2 t-white f-2">Projects</h1>
<div class="projects-container flex s-center">
  <div class="projects-item flex f-col s-center items-center">
    
      <h1 class="t-white poppins">Pocket Weather</h1>
      <p class="t-white poppins"> Aplicativo de previsão do tempo utilizando o framework Flutter, junto da API openweathermap, que mostra a temperatura atual, dia anterior/posterior e distribuição das nuvens atrvés do google maps.</p>
      <div class="buttons flex s-around">
          <a href="https://github.com/C1triniti/PocketWeather"
              target="_blanks" class="btn mx-1 m-top">GitHub</a>
      </div>
  </div>
  <div class="projects-item flex f-col s-center items-center">
    
      <h1 class="t-white poppins">Origin of Tomorrow</h1>
      <p class="t-white poppins">Pequeno jogo de texto em formato visual novel feito com a engine para jogos godot com implatação do banco de dados Firebase da Google, como parte de um trabalho na disciplina de Engenharia do Conhecimento.</p>
      <div class="buttons flex s-around">
          <a href="https://github.com/gabriel-aires09/origintomorow" target="_blanks"
              class="btn mx-1 m-top">GitHub</a>
      </div>
  </div>

</div>

</div>
</section>

<!--Contact me section-->
<section id="contact" class="m-b-1">
  <h1 class="t-center my-2 t-white f-2">Contato</h1>
  <div class="contact-container flex s-around items-center">
    <div class="form" id="contactform">
      <form method="post">

        {% csrf_token %}
        <div class="name form-div">
          <input type="text" name="Nome" id="name" class="popinss" placeholder="Digite seu nome">
        </div>

        <div class="email form-div">
          <input type="email" name="Email" id="" class="popinss" placeholder="Digite seu email" required>
        </div>

        <div class="texarea form-div">
          <textarea name="Content" id="textarea" cols="30" rows="10"class="poppins" placeholder="Escreva sua mensagem" required></textarea>
        </div>

        <button type="submit" class="btn popinss" id="submit">Enviar</button>

      </form>
    </div>
  </div>

</section>


<!--footer section-->

<footer id="footer">
  <ul class="flex s-center w-80 m-auto my-2">
    <li><a href="#home" class="popinss">Inicio</a></li>
    <li><a href="#about" class="popinss">Sobre mim</a></li>
    <li><a href="#skills" class="popinss">habilidades</a></li>
    <li><a href="#projects" class="popinss">Projetos</a></li>
    <li><a href="#portifolio" class="popinss">Inicio</a></li>
  </ul>

  <p class="t-center my-2 popinss">Todos os direitos reservados - <span class="cpy-white popinss">
    Mateus Citriniti
  </span>
</p>
</footer>
  
</body>         
</html>